%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.Winter {
    @extend %message;
    background-color: gray;
}

.Spring {
    @extend %message;
    background-color: green;
}

.Summer{
    @extend %message;
    background-color: DarkOrange;
}

.Fall{
    @extend %message;
    background-color: SandyBrown;
}
